.app-container {
  display: grid;
  grid-template-rows: 1fr auto; /* Main content takes available space, footer takes auto height */
  min-height: 100vh; /* Ensure the container takes full height */
}

.app-footer {
   /* Example background color */
  color: white; /* Example text color */
  padding: 10px;
  text-align: center;
}


