/* Estilos personalizados para el formulario */
.card {
    width: 100%; /* Ancho flexible */
    height: auto; /* Altura flexible */
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center; /* Centra el contenido de la tarjeta horizontalmente */
}

.card-img-top {
    object-fit: contain;
    width: 100%; /* Ancho deseado de la imagen */
    height: 250px; /* Altura deseada de la imagen */
    display: block; /* Centra la imagen horizontalmente en su contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.btn-primary {
    background: green;
    border: 0;
}

.title {
    margin: 0 auto; /* Centra el título */
}

.card .btn {
    z-index: 2;
    position: relative;
}

a.product-link {
    text-decoration: none !important; /* Elimina el subrayado */
    color: inherit; /* Usa el color heredado del elemento contenedor */
    cursor: pointer; /* Cambia el cursor al puntero al pasar el mouse */
}

a.product-link:hover {
    text-decoration: none; /* Agrega subrayado al pasar el mouse */
    color: black; /* Cambia el color al pasar el mouse */
}